* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Optional background color */
}

.clock {
  font-size: 30px;
  background-color: rgb(5, 150, 246);
  padding: 10px;
  border-radius: 5px;
  color: #f0f0f0;
}
